.result .image {
    max-width: 33%px;
    height: 250px;
    background-image: url("test.jpg");
    background-size: cover;
    background-position: center;
}

.result .text {
    background-color: rgb(237, 237, 237);
    font-weight: 700;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

#logo {
    position: fixed;
    bottom: 0;
    width: 340px;
    height: 360px;
    left:3%;
    pointer-events: none;
}


.result {
    width: 33%px;
    height: 300px;
}

.container {
    margin-top: 5vh;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /*grid-template-rows: auto auto auto; */
    gap: 50px 10px;

}

footer {
    width: 100%;
    position: fixed;
    margin-bottom: 0;
    bottom: 0;
    height: 75px;
}

footer p {
    width: 100%;
    text-align: center;
    color: whitesmoke;
    margin: 25px


}

#uploadedImg {
    width:intrinsic;
    height:intrinsic;
    max-width: 250px;
    max-height: 250px;
}

.lds-dual-ring {
    visibility: hidden;
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 0px;
    margin-left: 24px;
    border-radius: 50%;
    border: 6px solid #606c76;
    border-color:  #606c76 transparent  #606c76 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  